@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
}

body {
    position: relative;


}



.menu-none-1 {

    width: 100%;
    height: 120vh;
    display: none;
    z-index: 99;
    background-color: #ff9d64;

    margin-top: -66px;
    position: fixed;


}

.menu-Cikis-1 {

    font-size: 70px;
    color: #FFFFFF;
    margin-left: 83%;
    margin-top: 50px;
    margin-right: 0;
    cursor: pointer;

}

.menu-a-etiket {

    font-size: 4rem;
    cursor: pointer;

    display: block;

    color: #FFFFFF;

    text-align: center;
    padding: 20px 25px;

}


.responsive-menu {
    display: none;
    position: fixed;

    z-index: 99;
    overflow: hidden;

}

.responsive-menu-conretner {
    width: 100%;
    height: 50px;

    position: fixed;
    z-index: 119;
    display: none;


}

.sticky {
    background-color: #ffffff !important;

    width: 100% !important;
    height: 50px;

    position: fixed !important;
    z-index: 119 !important;

}




.responsive-menu span {

    border: 1px solid black;
    margin: 5px;



}

.responsive-menu {
    transform: rotate(90deg);


    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 80%;


}

/*  footer css */
.end-footer {
    width: 100%;
    height: 183px;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 83px;
}

.sosyalicon {
    display: flex;
    flex-flow: row;


}

.sosyalicon img {
    width: 30px;
    height: 30px;


}

.sosyalicon a {
    margin-left: 40px;

}

.end-footer p {
    margin-top: 26px;
}

/* //////////////// */





@media only screen and (min-width:377px) {
    .responsive-menu {
        transform: rotate(90deg);


        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-left: 80%;


    }
}


@media only screen and (min-width:700px) {


    .menu-none-1 {
        display: none;
    }
}



@media only screen and (max-width:700px) {
    .responsive-menu {
        display: block;
    }
}








/* 377 px olduğunda */


@media only screen and (max-width:377px) {


    .header-banner {
        width: 100%;
        height: 550px;
        display: block;

        position: relative;
    }

    .profilphoto {
        position: absolute;

    }

    .banner-content {
        position: absolute;
        margin-top: 300px;
        height: auto;
    }

    .banner-content h1 {
        font-size: 32px;

        text-align: center;
        width: 320px;
        margin-left: 10%;
    }

    .banner-content p {
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        color: #21243D;
        margin-top: 40px;
        text-align: center;
        width: 320px;
        margin-left: 10%;

    }


    .banner-content input {
        font-size: 16px;
        font-weight: 500;
        line-height: 23px;
        color: #FFFFFF;
        background-color: #FF6464;
        width: 208px;
        height: 47px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        margin-top: 38px;
        margin-left: 30%;

    }






    .post {
        height: auto;
        margin-top: 300px;


    }

    .post-conterner {
        flex-flow: column wrap;

    }

    .post-content {
        width: 354px;
        height: auto;
        margin-left: auto;
        margin-right: auto;


    }

    .post-content:last-child {

        margin-bottom: 40px;
    }

    #view-all {
        display: none;
    }




    #end-conterner3 {
        display: none;
    }

    #end-conterner2 {
        display: none;
    }

    .end-conterner img {
        width: 339px;
        height: 230px;

    }

    .end-content h1 {
        font-size: 24px;

    }

    .sosyalicon a {

        margin: 15px;
    }

    .end-footer p {
        margin-top: 20px;
        text-align: center;
    }

    .end-conterner {
        display: flex;
        flex-flow: column;
        width: 354px;
        height: auto;

        margin-top: 40px;
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 20px;



    }

}

/* 700px olduğunda */

@media only screen and (max-width:700px) {

    .responsive-menu-conretner {

        display: block;


    }

    .responsive-menu {
        display: block;

    }

    .header-nav {
        display: none;
    }

    .post-conterner {
        flex-flow: column wrap;


    }

    .end-conterner {

        padding: 70px;
    }

    .post {
        height: auto;
    }

    .header-banner {
        width: 100%;
        height: 650px;


        position: relative;
        display: block;

        display: flex;

    }

    .profilphoto {
        position: absolute;
        align-items: center;
        margin-top: -300px;

    }

    .banner-content {
        position: absolute;
        margin-top: 300px;



    }

    .banner-content h1 {
        font-size: 28px;

        text-align: center;
        width: 320px;
        margin-left: 5%;
    }

    .banner-content p {
        font-size: 15px;
        font-weight: 400;
        line-height: 23px;
        color: #21243D;
        margin-top: 40px;
        text-align: center;
        width: 320px;
        margin-left: 3%;

    }


    .banner-content .dowland a {
        font-size: 16px;
        font-weight: 500;
        line-height: 23px;
        color: #FFFFFF;
        background-color: #FF6464;
        width: 208px;
        height: 47px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        margin-top: 38px;
        margin-left: 30%;

    }

    .post {
        height: auto;
        margin-top: 300px;


    }

    .post-conterner {
        flex-flow: column wrap;


    }

    .post-content {
        width: 354px;
        height: auto;
        margin-left: auto;
        margin-right: auto;


    }

    .post-content:last-child {

        margin-bottom: 40px;
    }

    .view-all {
        display: none;
    }

    .end {
        height: auto;
    }

    .end-conterner {
        width: 50%;
        align-self: flex-start;
    }

    .end-conterner img {
        width: 339px;
        height: 230px;
        align-self: center;
    }

    .end-content h1 {
        font-size: 24px;

    }

    .sosyalicon a {

        margin: 15px;
    }

    .end-footer {
        margin-top: 20px;
        text-align: center;
    }


    .end-conterner img {
        width: 339px;
        height: 230px;
        align-self: center;
    }

    .end-content h1 {
        font-size: 24px;

    }

    .end-conterner {
        display: flex;
        flex-flow: column;
        width: 60%;
        height: auto;

        margin-top: 40px;
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 20px;



    }



}

@media only screen and (min-width:700px) {


    .menu-none-1 {
        display: none;
    }
}